# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [28]:
# pre - # 1.
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

#df.head()
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [29]:
# 1. My first aproach
#df.rename(columns= {'Customer': 'customer'}, inplace=True)
#df.rename(columns= {'State': 'state'}, inplace=True)
#df.rename(columns= {'Educational attainment': 'EDUCATION'}, inplace=True)
#df.rename(columns= {'Gender': 'gender'}, inplace=True)
#df.rename(columns= {'Customer Lifetime Value': 'customer_lifetime_value'}, inplace=True)
#df.rename(columns= {'Income': 'income'}, inplace=True)
#df.rename(columns= {'Monthly Premium Auto': 'monthly_premium_auto'}, inplace=True)
#df.rename(columns= {'Number of Open Complaints': 'number_open_complaints'}, inplace=True)
#df.rename(columns= {'Policy Type': 'policy_Type'}, inplace=True)
#df.rename(columns= {'Vehicle Class': 'vehicle_class'}, inplace=True)
#df.rename(columns= {'Total Claim Amount': 'total_claim_amount'}, inplace=True)

In [30]:
# 1. 2nd approach
# Going to change first the thing that cannot be automated - changing name
df.rename(columns= {'ST': 'state'}, inplace=True)
df.columns

Index(['Customer', 'state', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [32]:
new_columns = []
for name in df.columns:
    name = name.lower().replace(' ', '_')
    new_columns.append(name)

# Assign the updated column names to the DataFrame
df.columns = (new_columns)
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [ ]:
df.head(0)

Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [33]:
# Gender column contains various inconsistent which need to be standardized, for example, to "M" and "F".
df["gender"].unique() # gives you the specified
df["gender"].nunique() # #unique variables, not counting NaNs
df["gender"].value_counts() #### does not give you the null values, just skip it

F         457
M         413
Male       39
female     28
Femal      17
Name: gender, dtype: int64

In [34]:
df['gender'] = df['gender'].replace([ 'female', 'Femal'], 'F', regex=True)
df['gender'] = df['gender'].replace([ 'Male'], 'M', regex=True)
print("Standardized:")
df["gender"].value_counts()

Standardized:

F    502
M    452
Name: gender, dtype: int64

In [35]:
# State abbreviations should be replaced with "AZ": "Arizona", "Cali": "California", "WA": "Washington"
# Creating a dict turns out to be more simple :

state_name = {"AZ": "Arizona",
              "Cali": "California",
              "WA": "Washington" }

df['state'].replace(state_name, inplace=True)
print("States full name replaced:")
df["state"].value_counts()

States full name replaced:

California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: state, dtype: int64

In [36]:
# In education, "Bachelors" could be replaced by "Bachelor"

education_name = {"Bachelors":"Bachelor"}
df['education'].replace(education_name, inplace=True)
print("Education now corrected:")
df["education"].value_counts()

Education now corrected:

Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: education, dtype: int64

In [37]:
# In Customer Lifetime Value, delete the % character
df.head(5)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [38]:
# replace method for % to turn into nothing()
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.replace("%", "")
df["customer_lifetime_value"]

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: object

In [39]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

car_name = {"Sports Car": "Luxury",
            "Luxury SUV": "Luxury",
            "Luxury Car": "Luxury"}

df["vehicle_class"].replace(car_name, inplace=True)
print("Car class updated:")
df["vehicle_class"].value_counts()

Car class updated:

Four-Door Car    576
Two-Door Car     205
SUV              199
Luxury            91
Name: vehicle_class, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
df.head(4)

In [41]:
df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"], errors='coerce') #just googled this one. Didn't know how to change
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [42]:
# Number of open complaints has an incorrect format. Look at the different values it takes with unique() and take the middle value.
# As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use split() to deal with it and take the number you need.

In [43]:
df["number_of_open_complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [ ]:
df["number_of_open_complaints"] = df["number_of_open_complaints"].astype("object") #just googled this one. Didn't remeber this one
df.dtypes

In [ ]:
df["number_of_open_complaints"].str.split("/")
#death by the simplicity of the question

In [ ]:
df['number_of_open_complaints'] = df['number_of_open_complaints']
df["number_of_open_complaints"].value_counts()

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using `applymap()`.

In [ ]:
print(f"The current shape of our dataframe is {df.shape}")

In [ ]:
df.head()

In [ ]:
#1 Check for null values in the DataFrame using isna() or isnull().
df.isnull().sum()

In [ ]:
#df.shape
x = 4008 - 2937
x # i think this is a good sample, 1071 rows

In [ ]:
df.dropna(subset = ["customer"], inplace=True) # as belas 1071 rows!
#fiz dropna no customer pq se não houver id. de customer não tem grande finalidade de analise para a seguradora

df["customer"].describe()

In [ ]:
print(f"The current shape of our dataframe is {df.shape}")
df.isnull().sum()
# So let's take a look at gender and customer_lifetime_value

In [ ]:
# Fill the null values with a specific value
# (such as the column mean or median for numerical variables, and mode for categorical variables)

In [ ]:
# So let's clean up the customer_lifetime_value column
print(df["customer_lifetime_value"].describe())

# for the 3 missing values I will assign the mean of "customer_lifetime_value"
clv_mean = (df["customer_lifetime_value"].mean())
print("Mean is", (clv_mean))

In [ ]:
df["customer_lifetime_value"].fillna(clv_mean, inplace=True)
df.isnull().sum()

In [ ]:
# Now for the gender column, I haver decided NOT assign the F to all those 117 nulls in gender.
# For several years I have seen "Other" in gender column, so that's what I'll assign: we should have to "not relate" to F or M.

df["gender"].fillna("other", inplace=True)

print("'Gender' column updated")
df["gender"].value_counts()

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Identify any duplicate rows in the dataframe.
df.duplicated().sum() # SnoopDog Dancing

In [ ]:
#Dropping all duplicate rows
df.drop_duplicates(inplace=True)

In [ ]:
#Keeping only the first occurrence of each duplicated row
df.drop_duplicates(keep="last", inplace=True)

In [ ]:
#Keeping only the last occurrence of each duplicated row
df.drop_duplicates(keep="last", inplace=True)

In [ ]:
# Dropping duplicates based on a subset of columns
df.drop_duplicates(subset=["gender", "income"])

In [ ]:
# Drop the column
df.drop("Column Name", axis=1)

In [ ]:
### Resetting the index
df.reset_index()

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here